.header{
  min-height: 25%;
  
  
}

.logo{
  
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2em;
}


img {

  height: auto;

  max-width: 100%;

}

.bg-color{
  background-color: #1e202b;
}


.current-item{
  padding: 5px 25px;
  border: 2px solid transparent;
  border-radius: 30px;
  color: white;

 
  font-weight: 400;
  border-color: #009ad8 !important;
  color: #009ad8 !important;

}

.nav-link{
  border: 2px solid transparent;
  border-radius: 30px;
  color: white;
  
}

.nav-link:hover{
  /* padding: 5px 25px; */
  border: 2px solid transparent;
  border-radius: 30px;
  color: white;
  
  
  
  border-color: #009ad8;
  color: #009ad8;
}

.bg-div{
  
  background-image: url(../img/banner.png);
  background-size: cover;
  min-height: 350px;
  position: relative;
}


.search:hover{
  background-color: #009ad8;
}

.bg-div2{
  min-height: 250px;
  background-color: #1e202b;
}

.weather
{
  min-height: 150px;
  background-color: #424c76;
  position: relative;
  top: 100px;
  
}

.card-1{
  background-color: #5a78fc;
}

.card-head{
 background-color: #37416c;
 height: 10%;
 
}
.card-dark{
  background-color: #4858a1;
  height: 10%;
}

.fa-regular ,.fa-solid , .fa-brands{
  padding-top: 5px;
}

footer{
  background-color: #262936;
}

.fa::before{
  
  align-items: center;
  justify-content: center;
  
  border-radius: 30px;
  padding-top: 50% !important;
  height: 50%;
  margin-top: 50%;
  position: relative;
  top: 25%;
}

.fa{
 
  border: #009ad8 2px solid !important ;
  height: 50px;
  width: 50px;
  position: relative;
  

}

.fa:hover{
  background-color: #009ad8;
  color :aliceblue
}

.main{
  font-size: 5rem;
  /* font-weight: 700; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.city{
  font-size: 3rem;
}

img{
  width : 100px
}